In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from pydataset import data
import pandas as pd
import numpy as np
import acquire

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
print('Success')

Success

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

1. print the first 3 rows
2. print the number of rows and columns (shape)
3. print the column names
4. print the data type of each column
5. print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [2]:
df_iris = data('iris') 
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [3]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [4]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [5]:
df_iris.describe()
# Would you recommend rescaling the data based on these statistics? - No

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

1. assign the first 100 rows to a new dataframe, df_excel_sample
2. print the number of rows of your original dataframe
3. print the first 5 column names
4. print the column names that have a data type of object
5. compute the range for each of the numeric variables.

In [6]:
sheet_url = 'https://docs.google.com/spreadsheets/d/16tPJXOKksadffKXGIQnSgdckinr4hs-pMzJgsR8B5EQ/edit#gid=96538250'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_excel = pd.read_csv(csv_export_url)
df_excel['tenure'] = round(df_excel['total_charges']/df_excel['monthly_charges'], 0)
df_excel['tenure'].fillna(0, inplace = True)
df_excel.head(1)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.3,No,9.0

In [7]:
df_excel_sample = df_excel.head(100)

In [8]:
len(df_excel.index)

7049

In [9]:
df_excel.columns[0:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [10]:
list(df_excel.select_dtypes(include=['object']).columns)

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [11]:
spread = df_excel[['monthly_charges', 'total_charges', 'tenure']].describe().transpose()
spread['range'] = spread['max'] - spread['min']
spread[['range']]

                  range
monthly_charges   100.5
total_charges    8666.0
tenure             79.0

Read the data from this google sheet into a dataframe, df_google

1. print the first 3 rows
2. print the number of rows and columns
3. print the column names
4. print the data type of each column
5. print the summary statistics for each of the numeric variables
6. print the unique values for each of your categorical variables

In [12]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [13]:
df_google.shape

(891, 12)

In [14]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
df_google[['Age', 'Fare']].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [17]:
print(f"Survived = {df_google['Survived'].unique()}")
print(f"Pclass = {df_google['Pclass'].unique()}")
print(f"Embarked = {df_google['Embarked'].unique()}")

Survived = [0 1]
Pclass = [3 1 2]
Embarked = ['S' 'C' 'Q' nan]

# Iris Data

* Use the function defined in acquire.py to load the iris data.
* Drop the species_id and measurement_id columns.
* Rename the species_name column to just species.
* Create dummy variables of the species name.
* Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [18]:
import acquire

def prep_iris():
    import acquire
    iris = acquire.get_iris_data()
    iris.drop(columns=['species_id', 'measurement_id', 'species_id.1'], inplace = True)
    iris.rename(columns={"species_name":"species" }, inplace = True)
    iris_dummies = pd.get_dummies(iris['species'])
    iris = pd.concat([iris, iris_dummies], axis=1)
    return iris

prep_iris()

,species,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0
5,setosa,5.4,3.9,1.7,0.4,1,0,0
6,setosa,4.6,3.4,1.4,0.3,1,0,0
7,setosa,5.0,3.4,1.5,0.2,1,0,0
8,setosa,4.4,2.9,1.4,0.2,1,0,0
9,setosa,4.9,3.1,1.5,0.1,1,0,0
10,setosa,5.4,3.7,1.5,0.2,1,0,0
11,setosa,4.8,3.4,1.6,0.2,1,0,0
12,setosa,4.8,3.0,1.4,0.1,1,0,0
13,setosa,4.3,3.0,1.1,0.1,1,0,0
14,setosa,5.8,4.0,1.2,0.2,1,0,0
15,setosa,5.7,4.4,1.5,0.4,1,0,0
16,setosa,5.4,3.9,1.3,0.4,1,0,0
17,setosa,5.1,3.5,1.4,0.3,1,0,0
18,setosa,5.7,3.8,1.7,0.3,1,0,0
19,setosa,5.1,3.8,1.5,0.3,1,0,0
20,setosa,5.4,3.4,1.7,0.2,1,0,0
21,setosa,5.1,3.7,1.5,0.4,1,0,0
22,setosa,4.6,3.6,1.0,0.2,1,0,0
23,setosa,5.1,3.3,1.7,0.5,1,0,0
24,setosa,4.8,3.4,1.9,0.2,1,0,0
25,setosa,5.0,3.0,1.6,0.2,1,0,0
26,setosa,5.0,3.4,1.6,0.4,1,0,0
27,setosa,5.2,3.5,1.5,0.2,1,0,0
28,setosa,5.2,3.4,1.4,0.2,1,0,0
29,setosa,4.7,3.2,1.6,0.2,1,0,0
30,setosa,4.8,3.1,1.6,0.2,1,0,0
31,setosa,5.4,3.4,1.5,0.4,1,0,0
32,setosa,5.2,4.1,1.5,0.1,1,0,0
33,setosa,5.5,4.2,1.4,0.2,1,0,0
34,setosa,4.9,3.1,1.5,0.2,1,0,0
35,setosa,5.0,3.2,1.2,0.2,1,0,0
36,setosa,5.5,3.5,1.3,0.2,1,0,0
37,setosa,4.9,3.6,1.4,0.1,1,0,0
38,setosa,4.4,3.0,1.3,0.2,1,0,0
39,setosa,5.1,3.4,1.5,0.2,1,0,0
40,setosa,5.0,3.5,1.3,0.3,1,0,0
41,setosa,4.5,2.3,1.3,0.3,1,0,0
42,setosa,4.4,3.2,1.3,0.2,1,0,0
43,setosa,5.0,3.5,1.6,0.6,1,0,0
44,setosa,5.1,3.8,1.9,0.4,1,0,0
45,setosa,4.8,3.0,1.4,0.3,1,0,0
46,setosa,5.1,3.8,1.6,0.2,1,0,0
47,setosa,4.6,3.2,1.4,0.2,1,0,0
48,setosa,5.3,3.7,1.5,0.2,1,0,0
49,setosa,5.0,3.3,1.4,0.2,1,0,0
50,versicolor,7.0,3.2,4.7,1.4,0,1,0
51,versicolor,6.4,3.2,4.5,1.5,0,1,0
52,versicolor,6.9,3.1,4.9,1.5,0,1,0
53,versicolor,5.5,2.3,4.0,1.3,0,1,0
54,versicolor,6.5,2.8,4.6,1.5,0,1,0
55,versicolor,5.7,2.8,4.5,1.3,0,1,0
56,versicolor,6.3,3.3,4.7,1.6,0,1,0
57,versicolor,4.9,2.4,3.3,1.0,0,1,0
58,versicolor,6.6,2.9,4.6,1.3,0,1,0
59,versicolor,5.2,2.7,3.9,1.4,0,1,0
60,versicolor,5.0,2.0,3.5,1.0,0,1,0
61,versicolor,5.9,3.0,4.2,1.5,0,1,0
62,versicolor,6.0,2.2,4.0,1.0,0,1,0
63,versicolor,6.1,2.9,4.7,1.4,0,1,0
64,versicolor,5.6,2.9,3.6,1.3,0,1,0
65,versicolor,6.7,3.1,4.4,1.4,0,1,0
66,versicolor,5.6,3.0,4.5,1.5,0,1,0
67,versicolor,5.8,2.7,4.1,1.0,0,1,0
68,versicolor,6.2,2.2,4.5,1.5,0,1,0
69,versicolor,5.6,2.5,3.9,1.1,0,1,0
70,versicolor,5.9,3.2,4.8,1.8,0,1,0
71,versicolor,6.1,2.8,4.0,1.3,0,1,0
72,versicolor,6.3,2.5,4.9,1.5,0,1,0
73,versicolor,6.1,2.8,4.7,1.2,0,1,0
74,versicolor,6.4,2.9,4.3,1.3,0,1,0
75,versicolor,6.6,3.0,4.4,1.4,0,1,0
76,versicolor,6.8,2.8,4.8,1.4,0,1,0
77,versicolor,6.7,3.0,5.0,1.7,0,1,0
78,versicolor,6.0,2.9,4.5,1.5,0,1,0
79,versicolor,5.7,2.6,3.5,1.0,0,1,0
80,versicolor,5.5,2.4,3.8,1.1,0,1,0
81,versicolor,5.5,2.4,3.7,1.0,0,1,0
82,versicolor,5.8,2.7,3.9,1.2,0,1,0
83,versicolor,6.0,2.7,5.1,1.6,0,1,0
84,versicolor,5.4,3.0,4.5,1.5,0,1,0
85,versicolor,6.0,3.4,4.5,1.6,0,1,0
86,versicolor,6.7,3.1,4.7,1.5,0,1,0
87,versicolor,6.3,2.3,4.4,1.3,0,1,0
88,versicolor,5.6,3.0,4.1,1.3,0,1,0
89,versicolor,5.5,2.5,4.0,1.3,0,1,0
90,versicolor,5.5,2.6,4.4,1.2,0,1,0
91,versicolor,6.1,3.0,4.6,1.4,0,1,0
92,versicolor,5.8,2.6,4.0,1.2,0,1,0
93,versicolor,5.0,2.3,3.3,1.0,0,1,0
94,versicolor,5.6,2.7,4.2,1.3,0,1,0
95,versicolor,5.7,3.0,4.2,1.2,0,1,0
96,versicolor,5.7,2.9,4.2,1.3,0,1,0
97,versicolor,6.2,2.9,4.3,1.3,0,1,0
98,versicolor,5.1,2.5,3.0,1.1,0,1,0
99,versicolor,5.7,2.8,4.1,1.3,0,1,0
100,virginica,6.3,3.3,6.0,2.5,0,0,1
101,virginica,5.8,2.7,5.1,1.9,0,0,1
102,virginica,7.1,3.0,5.9,2.1,0,0,1
103,virginica,6.3,2.9,5.6,1.8,0,0,1
104,virginica,6.5,3.0,5.8,2.2,0,0,1
105,virginica,7.6,3.0,6.6,2.1,0,0,1
106,virginica,4.9,2.5,4.5,1.7,0,0,1
107,virginica,7.3,2.9,6.3,1.8,0,0,1
108,virginica,6.7,2.5,5.8,1.8,0,0,1
109,virginica,7.2,3.6,6.1,2.5,0,0,1
110,virginica,6.5,3.2,5.1,2.0,0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,0,1
112,virginica,6.8,3.0,5.5,2.1,0,0,1
113,virginica,5.7,2.5,5.0,2.0,0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,0,1
115,virginica,6.4,3.2,5.3,2.3,0,0,1
116,virginica,6.5,3.0,5.5,1.8,0,0,1
117,virginica,7.7,3.8,6.7,2.2,0,0,1
118,virginica,7.7,2.6,6.9,2.3,0,0,1
119,virginica,6.0,2.2,5.0,1.5,0,0,1
120,virginica,6.9,3.2,5.7,2.3,0,0,1
121,virginica,5.6,2.8,4.9,2.0,0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,0,1
124,virginica,6.7,3.3,5.7,2.1,0,0,1
125,virginica,7.2,3.2,6.0,1.8,0,0,1
126,virginica,6.2,2.8,4.8,1.8,0,0,1
127,virginica,6.1,3.0,4.9,1.8,0,0,1
128,virginica,6.4,2.8,5.6,2.1,0,0,1
129,virginica,7.2,3.0,5.8,1.6,0,0,1
130,virginica,7.4,2.8,6.1,1.9,0,0,1
131,virginica,7.9,3.8,6.4,2.0,0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,0,1
133,virginica,6.3,2.8,5.1,1.5,0,0,1
134,virginica,6.1,2.6,5.6,1.4,0,0,1
135,virginica,7.7,3.0,6.1,2.3,0,0,1
136,virginica,6.3,3.4,5.6,2.4,0,0,1
137,virginica,6.4,3.1,5.5,1.8,0,0,1
138,virginica,6.0,3.0,4.8,1.8,0,0,1
139,virginica,6.9,3.1,5.4,2.1,0,0,1
140,virginica,6.7,3.1,5.6,2.4,0,0,1
141,virginica,6.9,3.1,5.1,2.3,0,0,1
142,virginica,5.8,2.7,5.1,1.9,0,0,1
143,virginica,6.8,3.2,5.9,2.3,0,0,1
144,virginica,6.7,3.3,5.7,2.5,0,0,1
145,virginica,6.7,3.0,5.2,2.3,0,0,1
146,virginica,6.3,2.5,5.0,1.9,0,0,1
147,virginica,6.5,3.0,5.2,2.0,0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,0,1
149,virginica,5.9,3.0,5.1,1.8,0,0,1

# Titanic Data

* Use the function you defined in acquire.py to load the titanic data set.
* Handle the missing values in the embark_town and embarked columns.
* Remove the deck column.
* Create a dummy variable of the embarked column.
* Scale the age and fare columns using a min max scaler. Why might this be beneficial? When might you not want to do this?
* Fill the missing values in age. The way you fill these values is up to you. Consider the tradeoffs of different methods.
* Create a function named prep_titanic that accepts the untransformed titanic data, and returns the data with the transformations above applied.

In [19]:
def prep_titanic():
    titanic = acquire.get_titanic_data()
    titanic = titanic[~titanic.embark_town.isnull()]
    titanic.drop(columns=['deck'])
    titanic_dummies = pd.get_dummies(titanic['embarked'])
    titanic = pd.concat([titanic, titanic_dummies], axis=1)
    scaler = MinMaxScaler()
    scaler = MinMaxScaler()
    titanic[['age', 'fare']] = scaler.fit_transform(titanic[['age', 'fare']])
    imputer = SimpleImputer(strategy = 'mean')
    imputer = imputer.fit(titanic[['age']])
    titanic[['age']] = imputer.transform(titanic[['age']])
    return titanic


prep_titanic()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone,C,Q,S
0,0,0,3,male,0.271174,1,0,0.014151,S,Third,NaN,Southampton,0,0,0,1
1,1,1,1,female,0.472229,1,0,0.139136,C,First,C,Cherbourg,0,1,0,0
2,2,1,3,female,0.321438,0,0,0.015469,S,Third,NaN,Southampton,1,0,0,1
3,3,1,1,female,0.434531,1,0,0.103644,S,First,C,Southampton,0,0,0,1
4,4,0,3,male,0.434531,0,0,0.015713,S,Third,NaN,Southampton,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0.334004,0,0,0.025374,S,Second,NaN,Southampton,1,0,0,1
887,887,1,1,female,0.233476,0,0,0.058556,S,First,B,Southampton,1,0,0,1
888,888,0,3,female,0.367204,1,2,0.045771,S,Third,NaN,Southampton,0,0,0,1
889,889,1,1,male,0.321438,0,0,0.058556,C,First,C,Cherbourg,1,1,0,0
890,890,0,3,male,0.396833,0,0,0.015127,Q,Third,NaN,Queenstown,1,0,1,0