In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from pydataset import data
import pandas as pd
import numpy as np
import acquire

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
print('Success')

Success

Attendance Data

Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [3]:
attendance = pd.read_csv("attendance.csv")
attendance.replace({'P': 0, 'A': 1, 'T':.1, 'H':.5}, inplace = True)
attendance = attendance.rename(columns={'Unnamed: 0':"Names"})
attendance.set_index('Names', inplace = True)
1 - (attendance.sum(axis=1)/8)

Names
Sally    0.7625
Jane     0.6875
Billy    0.5250
John     0.9125
dtype: float64

# Coffee Levels

Read the coffee_levels.csv file. Transform the data so that each carafe is in it's own column. Is this the best shape for the data?

In [4]:
coffee = pd.read_csv("coffee_levels.csv")
coffee.pivot_table('coffee_amount', 'hour', 'coffee_carafe') 
# Yes

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

# Cake Recipes

* Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.
* Tidy the data as necessary.
* Which recipe, on average, is the best? recipe b
* Which oven temperature, on average, produces the best results? 275
* Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [106]:
cake = pd.read_csv("cake_recipes.csv")
cake2 = cake['recipe:position'].str.split(':', expand=True)
cake2.columns = ['recipe', 'position']
cake = pd.concat([cake2, cake], axis=1).drop(columns='recipe:position')
cake_melt = cake.melt(id_vars=['position', 'recipe'])
cake_melt = cake_melt.loc[8:]
cake_melt.columns = ['position', 'recipe', 'temp', 'tasty']
cake_melt.reset_index(drop = True, inplace = True)
cake_melt['tasty'] = cake_melt['tasty'].astype(float)
cake_melt.groupby(['recipe']).mean().sort_values('tasty', ascending = False).head(1)

            tasty
recipe
b       79.056378

In [92]:
cake_melt.groupby('temp').mean().sort_values('tasty', ascending = False).head(1)

          tasty
temp
275   74.886754

In [121]:
cake_melt.groupby('tasty').max().sort_values(by='tasty', ascending = False).head(1)

          position recipe temp
tasty
99.248541   bottom      b  300